.sidebar
  = image_tag 'test-tall.png'
  .content
    %h1.text-white= link_to 'Michael Dawson', root_path
    %p
      Software - Entrepreneurship - Animation
    %hr
    .about
      %i.ion-ios-location-outline
      Melbourne, Australia
    .about
      %i.ion-ios-gear-outline
      Ruby on Rails, React JS
    .about
      %i.ion-ios-videocam-outline
      After Effects, web animation
    %hr/
    .about
      = link_to post_path('contact') do
        %i.ion-ios-email-outline
        Get in touch

    .social
      = link_to 'https://github.com/michaeldawson' do
        %i.ion-social-github-outline
      = link_to 'https://www.facebook.com/monsieurdawson' do
        %i.ion-social-facebook-outline
      = link_to 'https://twitter.com/michaelpdawson' do
        %i.ion-social-twitter-outline
