!!!
%html
  %head
    %title Michael
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Source+Sans+Pro:100'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/sidebar'
    .page= yield
